.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    height: auto;
    min-height: 100vh;
}

.container h2 {
    align-self: center;
    font-weight: 400;
    font-size: 32px;
    margin-top: 15px;
}

.container p {
    font-size: 1.5em;
    font-weight: 300;
    width: 90%;
    max-width: 800px;
    margin-bottom: 20px;
}


.cards {
    display: flex;       
    flex-wrap: wrap; 
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

@media (max-width: 999px) {
    .container {
        margin-top: 10%;
        height: auto; /* Permite altura flexível */
    }

    .container h1 {
        font-size: 1.8rem;
    }

    .container h2 {
        font-size: 1.6rem;
    }

    .container p {
        font-size: 1.2rem;
        width: 80%; /* Adapta a largura do texto */
    }

    .cards {
        flex-direction: row; 
        align-items: center;
    }
}

@media (max-width: 480px) {
    .container {
        gap: 10px; /* Reduz espaçamento em dispositivos menores */
        height: auto; /* Permite altura flexível */
    }

    .container p {
        width: 90%; /* Deixa o parágrafo ocupar a largura da tela */
    }


}

