.ctn {
    display: flex;
    margin-top: 140px;
    align-items: flex-start;
    gap: 100px;
}

.ctn h1 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}

.ctn .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}