@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  
  --bg-color: #ffc6ff;
  --primary-color: #9f2bbd;
  --text-color: #213547;
  
}

  [data-theme='dark'] {
    --bg-color: #831843;
    --text-color: #f8fafc;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    background-color: var(--bg-color);
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;
}

h1 {
  font-size: 34px;
  font-weight: 500;
}

#menu {
  display: flex;
  position: fixed;
  top: 0;
  background-color: var(--bg-color);
  align-items: flex-start;
  z-index: 1000;
  box-sizing: border-box;
}


@media (max-width: 480px) {
 
  h1 {
    font-size: 1.8;
  }

  h2 {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
  }

  p {
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    width: 18rem;
  }
}