@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


:root {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;

  --bg-color: #ffc6ff;
  --primary-color: #9f2bbd;
  --text-color: #213547;

}

[data-theme='dark'] {
  --bg-color: #831843;
  --text-color: #f8fafcfd;
}

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  place-items: center;
  max-width: 1920px;
  max-height: 1080px;
  background-color: var(--bg-color);
  flex-direction: column;
}

h1 {
  font-size: 34px;
  font-weight: 500;
}

#menu {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--bg-color);
  align-items: flex-start;
  z-index: 1000;
}
.darkTheme {
  display: flex;
  position: fixed;
  top: 18px; 
  right: 50px; 
  z-index: 1000; 
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8;
  }

  h2 {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
  }

  p {
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    width: 18rem;
  }
}