.home {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
}

.navButton {
    margin-top: -35px;
    display: flex;
    justify-content: flex-start;
    margin-left: 145px;
    flex-direction: column;
    text-decoration: none;
}

@keyframes mouseUpDown {
    0% {
        top: 0;
    }
    50% {
        top: -15px;
    }
    100% {
        top: 0;
    }
}

#mouse {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    animation: mouseUpDown 2s linear infinite;
}

.span {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-weight: 400;    
}