.home {
    display: flex;
    margin-top: 150px;
    flex-direction: column;
}


@keyframes mouseUpDown {
    0% {
        top: 0;
    }
    50% {
        top: -15px;
    }
    100% {
        top: 0;
    }
}

#mouse {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    animation: mouseUpDown 2s linear infinite;
}

.span {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-weight: 400;    
}