.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
  }
  
  .textHeader {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }
  
  .textHeader h2 {
    font-size: 2.4rem;
    text-align: center;
    font-weight: 600;
  }
  
  .textHeader p{
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    width: 30rem;
  }

  .navButton {
    text-decoration: none;
  }
  @keyframes picProfile {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  

  .picture:hover {
    animation: picProfile 2s linear 1;
  }