.project {
    display: flex;
    flex-direction:column;
    width: 100%;
    padding: 0 5%;
}

.project .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
    gap: 15px;
}
.project .container p {
    font-size: 20px;
    font-weight: 300;
}
.project .cards{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: center;
    padding: 15px;
    border: none;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .project .cards {
        flex-direction: column; /* Empilha os cards verticalmente */
        align-items: center;
        gap: 20px; /* Reduza o espaçamento entre eles */
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .project .container p {
        font-size: 16px;
    }

    .project .cards {
        margin-top: 20px;
    }
}